.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  }
  
  .navbar__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
  
  .navbar__left a {
    margin-right: 20px;
    color: #333;
    text-decoration: none;
  }
  
  .navbar__right a {
    color: #333;
    text-decoration: none;
  }

  .welcome-container{
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    margin: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }